<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Insert "head-links.njk" partial -->
        {% include "head-links.njk" %}
        <!-- Insert "head-links.njk" partial -->
    <title>Missing page</title>
</head>
<body id="swup" class="font-yantramanav bg-ow-cream trans-fade">
    <div class="flex lg:h-screen border-b border-black border-solid">
      <!-- Insert "header.njk" partial -->
      {% include "header.njk" %}
      <!-- Insert "header.njk" partial -->
      <section
        class="text-xl sm:text-3xl xl:text-4xl leading-tight w-2/3 lg:w-1/2 flex items-end justify-end pt-4 sm:pt-12 pr-4 sm:pr-12"
      >
        <div class="w-11/12">
          <p class="mb-4 lg:mb-8">
Sorry, there was a problem with your payment. Please try again or contact us and we can help you out.
          </p>
        </div>
      </section>
    </div>

          <!-- Insert "footer.njk" partial -->
      {% include "footer.njk" %}
      <!-- Insert "footer.njk" partial -->
</html>