<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Insert "head-links.njk" partial -->
    {% include "head-links.njk" %}
    <!-- Insert "head-links.njk" partial -->

    <title>Other Worlds</title>
  </head>
  <body>
    <!-- {% include "nav.njk" %} -->
    <h1>
      <img src="/img/logo.gif" class="w-1" alt="Other Worlds Zine Collective" />
    </h1>
    <!-- menu -->
    <section>
      <p>
        Other Worlds is a zine collective based in Australia. Every May we hold
        an annual zine fair in Sydney. We also run quarterly postal subscription
        service.
      </p>
      <p>
        Other Worlds has been collectively organised since 2014. We are a
        progressive organisation that hopes to provide a space for marginalised
        voices. We acknowledge that Other Worlds takes place on the stolen lands
        of the Gadigal and Wangal people of the Darug nation.
      </p>
    </section>

    <section>
      <img src="/images/zines.jpg" alt="A collection of zines" />
      <h2>Subscription service</h2>
      <p>
        The Other Worlds Subscription Quaterly Annual Mailout (SQAM) is a zine
        subscription service. Every three months we post a curated pack of zines
        loosely collected around a theme. There will be four packs in total.
      </p>
      <p>
        The first pack drops in August 2020 and is titled “The City as Might
        Have Been”.
      </p>
      <p>Subscriptions are currently open and limited to 50 subscribers.</p>
      <button>Sign up</button>
    </section>

    <section>
      <img
        src="/images/zine-fair.jpg"
        alt="Lots of people at the Other Worlds Zine Fair"
      />
      <h2>The Other Worlds Zine Fair</h2>
      <p>
        On the last Sunday of May we hold the Other Worlds Zine Fair in Sydney,
        Australia. Now in its 7th year, it attracts over 100 stall holders and
        200 attendees.
      </p>
      <p>
        The zine fair was born out of the 2014 Biennale boycotts of Transfield
        (the service providers for Australia’s offshore immigration detention
        centres).
      </p>
      <button>Application open in Jan 2021</button>
    </section>
  </body>
</html>
