<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Insert "head-links.njk" partial -->
    {% include "head-links.njk" %}
    <!-- Insert "head-links.njk" partial -->

    <title>Other Worlds Zine Fair</title>
  </head>

  <body class="font-yantramanav bg-ow-cream">
    <div class="flex lg:h-screen border-b border-black border-solid">
      <!-- Insert "header.njk" partial -->
      {% include "header.njk" %}
      <!-- Insert "header.njk" partial -->

      <section
        class="text-xl sm:text-3xl xl:text-4xl leading-tight w-2/3 lg:w-1/2 flex items-end justify-end pt-4 sm:pt-12 pr-4 sm:pr-12"
      >
        <div class="w-11/12">
          <p class="mb-4 lg:mb-8">
            The Other Worlds Subscription Quaterly Annual Mailout (SQAM) is a
            zine subscription service. Every three months we post a curated pack
            of zines loosely collected around a theme. There will be four packs
            in total.
          </p>
          <p class="mb-4 lg:mb-8">
            The first pack drops in January 2021 and is titled “The City as
            Might Have Been”.
          </p>
          <p class="mb-4 lg:mb-8">
            Subscriptions are currently open and limited to 50 subscribers.
          </p>
          <a href="#"
            ><button class="bg-black p-2 font-ogg text-ow-cream mb-4 lg:mb-8">
              Subscribe
            </button></a
          >
        </div>
      </section>
    </div>

    <section
      class="border-b border-black border-solid leading-tight flex flex-col lg:flex-row pb-4 lg:pb-0"
    >
      <img
        src="/img/blank.gif"
        alt="A collection of zines"
        class="lg:w-1/2 h-auto object-cover"
      />
      <div
        class="lg:w-1/2 lg:flex lg:justify-end mt-4 sm:mt-12 px-4 sm:px-12 lg:pr-0 lg:pr-12"
      >
        <div class="lg:w-11/12 text-lg md:text-2xl xl:text-3xl">
          <h2 class="font-ogg text-2xl md:text-4xl xl:text-5xl mb-4">
            Ill Considered
          </h2>
          <p class="mb-4 lg:mb-8">
            Aximo omnis del enditaque officit aspedit omnihil laboressum
            sinvenesto maximi, quatione incto moluptate il idunt. Nus que quas
            elignatibus. Uptae nat aut opta quaeptianis ditibus cipsam elibusam,
            et quaerrum cupienis autatet eatem aperchi llique volupiene vent aut
            dolorepuda nis et ipit dem volene nus.
          </p>
        </div>
      </div>
    </section>
    <section
      class="border-b border-black border-solid leading-tight flex flex-col lg:flex-row pb-4 lg:pb-0"
    >
      <img
        src="/img/blank.gif"
        alt="A collection of zines"
        class="lg:w-1/2 h-auto object-cover"
      />
      <div
        class="lg:w-1/2 lg:flex lg:justify-end mt-4 sm:mt-12 px-4 sm:px-12 lg:pr-0 lg:pr-12"
      >
        <div class="lg:w-11/12 text-lg md:text-2xl xl:text-3xl">
          <h2 class="font-ogg text-2xl md:text-4xl xl:text-5xl mb-4">
            Ill Considered
          </h2>
          <p class="mb-4 lg:mb-8">
            Aximo omnis del enditaque officit aspedit omnihil laboressum
            sinvenesto maximi, quatione incto moluptate il idunt. Nus que quas
            elignatibus. Uptae nat aut opta quaeptianis ditibus cipsam elibusam,
            et quaerrum cupienis autatet eatem aperchi llique volupiene vent aut
            dolorepuda nis et ipit dem volene nus.
          </p>
        </div>
      </div>
    </section>
    <section
      class="border-b border-black border-solid leading-tight flex flex-col lg:flex-row pb-4 lg:pb-0"
    >
      <img
        src="/img/blank.gif"
        alt="A collection of zines"
        class="lg:w-1/2 h-auto object-cover"
      />
      <div
        class="lg:w-1/2 lg:flex lg:justify-end mt-4 sm:mt-12 px-4 sm:px-12 lg:pr-0 lg:pr-12"
      >
        <div class="lg:w-11/12 text-lg md:text-2xl xl:text-3xl">
          <h2 class="font-ogg text-2xl md:text-4xl xl:text-5xl mb-4">
            Ill Considered
          </h2>
          <p class="mb-4 lg:mb-8">
            Aximo omnis del enditaque officit aspedit omnihil laboressum
            sinvenesto maximi, quatione incto moluptate il idunt. Nus que quas
            elignatibus. Uptae nat aut opta quaeptianis ditibus cipsam elibusam,
            et quaerrum cupienis autatet eatem aperchi llique volupiene vent aut
            dolorepuda nis et ipit dem volene nus.
          </p>
        </div>
      </div>
    </section>
    <section
      class="border-b border-black border-solid leading-tight flex flex-col lg:flex-row pb-4 lg:pb-0"
    >
      <img
        src="/img/blank.gif"
        alt="A collection of zines"
        class="lg:w-1/2 h-auto object-cover"
      />
      <div
        class="lg:w-1/2 lg:flex lg:justify-end mt-4 sm:mt-12 px-4 sm:px-12 lg:pr-0 lg:pr-12"
      >
        <div class="lg:w-11/12 text-lg md:text-2xl xl:text-3xl">
          <h2 class="font-ogg text-2xl md:text-4xl xl:text-5xl mb-4">
            Ill Considered
          </h2>
          <p class="mb-4 lg:mb-8">
            Aximo omnis del enditaque officit aspedit omnihil laboressum
            sinvenesto maximi, quatione incto moluptate il idunt. Nus que quas
            elignatibus. Uptae nat aut opta quaeptianis ditibus cipsam elibusam,
            et quaerrum cupienis autatet eatem aperchi llique volupiene vent aut
            dolorepuda nis et ipit dem volene nus.
          </p>
        </div>
      </div>
    </section>

    <!-- insert footer.njk -->
    {% include "footer.njk" %}
    <!-- insert footer.njk -->
  </body>
</html>
