<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Insert "head-links.njk" partial -->
    {% include "head-links.njk" %}
    <!-- Insert "head-links.njk" partial -->

    <title>Other Worlds – Zine Fair</title>
  </head>

  <body class="font-yantramanav bg-ow-cream">
    <div
      class="flex lg:h-screen pt-4 px-4 sm:pt-12 sm:px-12 mb-4 lg:mb-8 border-b border-black border-solid"
    >
      <!-- Insert "head-links.njk" partial -->
      {% include "header.njk" %}
      <!-- Insert "head-links.njk" partial -->

      <section>
        <img
          src="/img/zine-fair.jpg"
          alt="Lots of people at the Other Worlds Zine Fair"
        />
        <h1>The Other Worlds Zine Fair</h1>
      </section>
    </div>

    <div>
      <img
        src="/img/zine-fair02.jpg"
        alt="Lots of people at the Other Worlds Zine Fair"
        class="w-full"
      />
    </div>

    <section class="text-xl sm:text-3xl xl:text-4xl leading-tight">
      <h2 class="font-ogg">About the Fair</h2>
      <p>
        The Other Worlds Zine Fair is an annual zine fair in Sydney (Australia)
        on the last Sunday of May. Now in its 7th year, it attracts over 100
        stall holders and 200 attendees.
      </p>
      <p>
        The zine fair was born out of the 2014 Sydney Biennale boycotts. These
        boycotts formed in protest against Australia’s policy of mandatory
        detention of refugees and asylum seekers.
      </p>
    </section>

    <section class="text-xl sm:text-3xl xl:text-4xl leading-tight">
      <h2 class="font-ogg">Applying for a table</h2>
      <p>
        Applications for the 2021 Zine Fair open in January 2021. Follow our
        Facebook page for updates and news.
      </p>
    </section>

    <section class="text-xl sm:text-3xl xl:text-4xl leading-tight">
      <h2 class="font-ogg">The online fair</h2>
      <p>
        In 2020, because of COVID-19 we replaced our in-person fair with a
        virtual one. You can visit the fair here. Make sure you don’t miss
        Plastic Rupert’s 5 hour concert in the virtual bathrooms!
      </p>
    </section>
  </body>
</html>
