<footer
  class="px-4 py-8 sm:px-12 mb-4 lg:mb-8 leading-tight text-sm lg:text-lg xl:text-xl flex flex-col lg:flex-row lg:justify-between"
>
  <p>
    <em>Email:</em>
    <a href="mailto:otherworldszinefair@gmail.com" class="underline"
      >otherworldszinefair@gmail.com</a
    >
  </p>
  <p>
    <em>Facebook:</em>
    <a href="https://www.facebook.com/OtherWorldsZineFair/" class="underline"
      >facebook.com/otherworldszinefair</a
    >
  </p>
  <p>
    <em>Instagram:</em>
    <a href="https://www.instagram.com/otherworldszinefair/" class="underline"
      >instagram.com/otherworldszinefair</a
    >
  </p>
</footer>
